@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: IRANSANSL;
    src: url('../fonts/IRANSans/IRANSansWeb_Light.woff');
}

@font-face {
    font-family: IRANSANSB;
    src: url('../fonts/IRANSans/IRANSansWeb_Bold.woff');
}

@font-face {
    font-family: IranSansF;
    src: url("../fonts/IRANSans/IRANSansWeb\(FaNum\).ttf");
}

*{
    direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: IRANSANSB;
}

p,
div,
span,
a,
li {
    font-family: IRANSANSL;
}

.test{
    box-shadow: 2px 2px 5px #cdcdcd , inset 2px 2px 5px #e9e8e8;
}

.fanum{
    font-family: IranSansF!important;
}

